body{
  background-color: cornflowerblue;
}

.App{
  background-color: aliceblue;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input{
  background-color: darkseagreen;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 8px;
  color: #FFF;
}

#to-do-form input::placeholder{
  color: aliceblue;
}

#to-do-form input:focus{
  outline: none;
}

#to-do-form button{
  height: 50px;
  width: 80px;
  border: 0;
  border-radius: 8px;
  background-color: cadetblue;
  color: #FFF;
  cursor: pointer;
  font-weight: bolder;
}

#to-do-form button:focus{
  background-color: chocolate;
  outline: none;
}

h1{
  size: 70;
  text-align: center;
  color: #FFF;
}